<?xml version="1.0"?>

<launch>
    <node name="create_world" pkg="actor_services" type="overtaking.py"/>
    
    <arg name="world_file"  default="$(find actor_services)/worlds/ped_world.world"/>
    <arg name="gui" default="true"/>

    
    <node name="gazebo" pkg="gazebo_ros" type="gzserver" output="screen"
        args="$(arg world_file)" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find actor_services)/rviz/tf_show.rviz"/>


<!-- start gazebo client -->
    <group if="$(arg gui)">
        <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>
    </group>

</launch>